.header{
    width: 100%;
    background-color:white;
 } 

.header  h1{
	color: white;
	font-family: Rockwell;
	text-align: center;
    color: black;
}

.banner{
    width: 110%;
    height: 30%;
    background-color:white;
    color: black;
}  

.content1{
    width: 100%;
	height: 100%;
    background-color:white;
 } 

 .content11{
    width: 100%;
	height: 1000%;
    background-color: white ;  
 }

 .content12{
    width: 100%;
	height: 100%;
    background-color:white;
 }

 .content2{
    width: 100%;
	height: 100%;
    background-color:white;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
 }

 .content3{
    width: 100%;
	height: 100%;
    background-color: lightseagreen; 
    margin-left: 0.5ex;
    margin-right: 0.5ex;
 }

 .content4{
    width: 100%;
	height: 200%;
    background-color: lightblue;
    margin-left: 0.5ex;
    margin-right: 0.5ex;
 }
 
 .footer{
    width: 100%;
	height: 30%;
    background-color: lightgrey;
    float: left;
 }  

ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: lightgrey
}

li a:hover {
    background-color: grey;
}  

