.header{
    width: 1920px;
    background-color: #1e2729;
    margin: 0;
    padding: 0;
 } 

.header  h1{
	color: white;
	font-family: Rockwell;
	text-align: center;
    background-color: #1e2729;
    margin: 0;
    padding: 0;
}

.banner{
    width: 1920px;
    height: 324px;
    background-color:#1e2729;
    color: white;
    margin: 0;
    padding: 0;
}  

 .footer{
    width: 1920px;
	height: 324px;
    background-color: #1e2729;
    color: white;
    margin: 0;
    padding: 0;
 }  

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: white;
    border: lightgrey
}

li {
    float: left;
    border: 1px solid black;
    color:  black;
    background-color: #1e2729;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px  black;
    background-color: lightgrey;
    margin: 0;
}

li a:hover {
    background-color: grey;
    border: 1px  black;
    color: blue;
    margin: 0;
    padding: 0;
}  