.header{
    width: 100%;
    background-color:white;
 } 

.header  h1{
	color: white;
	font-family: Rockwell;
	text-align: center;
    color: black;
}

.banner{
    width: 100%;
    height: 30%;
    background-color:darkslategray;
    color: white;
}  

.content1{
    width: 100%;
	height: 100%;
    background-color:darkslategray;
    color: white;
 } 

 .content11{
    width: 100%;
	height: 1000%;
    background-color: darkslategray ;
    color: white;  
 }

 .content12{
    width: 100%;
	height: 100%;
    background-color:darkslategray;
    color: white; 
 }

 .content2{
    width: 100%;
	height: 100%;
    background-color:darkslategray;
    color: white; 
 }

 .content3{
    width: 100%;
	height: 100%;
    background-color: darkslategray; 
    color: white; 
 }

 .content4{
    width: 100%;
	height: 200%;
    background-color: darkslategray;
    color: white; 
 }
 
 .footer{
    width: 100%;
	height: 30%;
    background-color: darkslategray;
 }  

ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: lightgrey
}

li {
    float: left;
    border: 1px solid black;
    color:  black;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px  black;
}

li a:hover {
    background-color: grey;
    border: 2px solid black;
    color: blue;
}  

