.header{
    width: 100%;
    background-color:white;
 } 

.header  h1{
	color: white;
	font-family: Rockwell;
	text-align: center;
    color: black;
}
.contentall{
    background-color: #1e2729;
}

.banner{
    width: 100%;
    height: 30%;
    background-color:#1e2729;
    color: white;
}  

.content1{
    width: 100%;
	height: 100%;
    background-color:#1e2729;
    color: white;
 } 

 .content11{
    width: 100%;
	height: 1000%;
    background-color: #1e2729 ;
    color: white;  
 }

 .content12{
    width: 100%;
	height: 100%;
    background-color:#1e2729;
    color: white; 
 }

 .content2{
    width: 100%;
	height: 100%;
    background-color:#1e2729;
    color: white; 
 }

 .padding{
     padding-left: 100px;
 }
 .padd{
    padding-left: 45px;
}

 .content3{
    width: 100%;
	height: 100%;
    background-color: #1e2729; 
    color: white; 
 }

 .content4{
    width: 100%;
	height: 200%;
    background-color: #1e2729;
    color: white; 
 }
 .content4{
    width: 100%;
	height: 200%;
    background-color: #1e2729;
    color: white; 
 }
 
 .footer{
    width: 100%;
	height: 30%;
    background-color: #1e2729;
    color: white;
 }  

ul {
    list-style-type: none;
    margin: 0;  
    padding: 0;
    overflow: hidden;
    background-color: white;
    border: lightgrey
}

li {
    float: left;
    border: 1px solid black;
    color:  black;
    background-color: #1e2729;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border: 1px  black;
    background-color: lightgrey;
}

li a:hover {
    background-color: grey;
    border: 1px  black;
    color: blue;
}  
.image:hover{
    color: #424242; 
  -webkit-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -ms-transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  transition: all .3s ease-in;
  opacity: 1;
  transform: scale(1.35);
  -ms-transform: scale(1.15); /* IE 9 */
  -webkit-transform: scale(1.15); /* Safari and Chrome */

}

.content15 {

}
.container15{

}


